body {
  margin: 0;
  background-image: url('CART211_media/isp_noeThroat.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

header { text-align: center; }

h1 { margin: 0; background-color: #000; padding: 10px; font-size: 40px; color: #FFF; }
h2 { margin: 0; background-color: #222; padding: 10px; font-size: 20px; color: #DDD; }
.menu { background-color: #444; width: 100vw; margin-left: auto; margin-right: auto; font-size: 17px; }
a { color: inherit; text-decoration: none; padding: 10px; display: inline-block; }
ul { display: inline; margin: 0; padding: 0; }
ul li { display: inline-block; }
ul li a { color: #BBB; }
ul li i { color: #BBB; }
ul li:hover { background: #666;}
ul li:hover a { color: #666; }
ul li:hover i { color: #444; }
ul li:hover ul { display: block; }
ul li ul { position: absolute; left: 0; width: 100%; display: none; font-size: 15px;}
ul li ul li { background: #BBB; display: block; }
ul li ul li a { color: #FFF; }
ul li ul li a i { color: #FFF; }
ul li ul li:hover { background: #DDD; }
ul li ul li:hover a { color: #222; }
ul li ul li:hover a i { color: #222; }

footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  text-align: center;
  font-size: 15px;
  background-color: #000;
  color: #FFF;
}
footer i { color: #FFF; }

::-webkit-scrollbar {
display: none;
}
