body {
  background-color: #ffd1dc;
}

h1 {
  border: 5px solid #000000;
  background-color: #b0e0e6;
  color: #000000;
  text-align: center;
}

p {
  text-indent: 40px;
}

a.imgPop img { display: none; }
a.imgPop:hover img {
  display: block;
  position: absolute;
  top: inherit;
  left:inherit;
  width: 250px;
  border: 10px solid #ffffff;
  border-radius: 8px;
}


footer{
  text-align: center;
  padding: 3px;
  background-color: powderBlue;
}

.hidden {
  color: inherit;
}
