@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

body {
  margin: 0;
  background-image: url('assets/desk.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
}

header { text-align: center; }

h1 { margin: 0; background-color: #000; padding: 5px; font-size: 40px; color: #FFF; }
h2 { margin: 0; background-color: #222; padding: 5px; font-size: 20px; color: #DDD; }
.menu { background-color: #444; width: 100vw; margin-left: auto; margin-right: auto; font-size: 17px; }
header a { color: inherit; text-decoration: none; padding: 5px 30px; display: inline-block; }
ul { margin: 0; padding: 0; }
ul li { display: inline-block; width: auto; }
ul li i { color: #BBB; }
ul li:hover { background: #666; color: #555; }
ul li:hover i { color: #555; }
ul li:hover ul { float: left; display: block; overflow: hidden; }
ul li ul { display: none; position: absolute; font-size: 16px; z-index: 1; }
ul li ul li { display: block; text-align: left; float: none; background: #BBB; }
ul li ul li a { padding: 10px 15px; }
ul li ul li:hover { background: #DDD; }
ul li ul li:hover a { color: #222; }
ul li ul li:hover i { color: #222; }

h3 { font-size: 20px; text-align: center; text-decoration: underline; font-weight: bold; }
p { font-size: 18px; text-align: left; margin-left: 5%; margin-right: 5%; text-indent: 3%; }
.xind { font-size: 18px; text-align: left; margin-left: 5%; margin-right: 5%; text-indent: 3%; }

.imgDisp { margin: 20px; display: inline-block; text-align: center; }

footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  text-align: center;
  font-size: 17px;
  background-color: #000;
  color: #FFF;
  padding: 5px 0;
  margin-top: 5px;
}
footer i { color: #FFF; padding-right: 10px; float: right; }


::-webkit-scrollbar {
display: none;
}
