body {
  padding: 0;
  margin: 0;
  display: grid;
  justify-content: center;
  align-content: center;
  height: 100vh;
  overflow: hidden;
}

#qrCodeDiv {
  position: fixed;
  padding: 10px;
  background-color: #bbf;
  z-index: 999;
  display: none;
  color: #f00;
}
