body {
  padding: 0;
  margin: 0;
  display: grid;
  justify-content: center;
  align-content: center;
  height: 100vh;
  overflow: hidden;
}


/* sliders */

.slider {
  position: fixed;
  z-index: 2;
  opacity: 70%;
}

#sliderColR, #sliderColG, #sliderColB {
  width: 15vw;
  height: 5vh;
  top: 5vh;
}

#sliderColR .ui-slider-handle, #sliderColG .ui-slider-handle, #sliderColB .ui-slider-handle { height: 6vh; }

#sliderColR { left: 20vw; }
#sliderColG { left: 42vw; }
#sliderColB { left: 64vw; }
#sliderColR .ui-slider-range, #sliderColR .ui-slider-handle { background: #ef2929; }
#sliderColG .ui-slider-range, #sliderColG .ui-slider-handle { background: #8ae234; }
#sliderColB .ui-slider-range, #sliderColB .ui-slider-handle { background: #729fcf; }

#sliderSize {
  left: 92.5vw;
  top: 30vh;
  width: 0;
  height: 50vh;
  border: none;
  background: #000
}
#sliderSize .ui-slider-handle {
  position: absolute;
  background: inherit;
  border: none;
  border-radius: 100%;
  height: 10px;
  width: 10px;
  left: -5px;
}
#sliderSizeBox {
  position: absolute;
  width: 0;
	height: 0;
	border-left: 2.5vw solid transparent;
	border-right: 2.5vw solid transparent;
	border-top: 50vh solid #ccc;
  left: -2.5vw;
}


/* icons */

#clearDiv, #photoDiv {
  position: fixed;
  border-radius: 15px;
  top: 5vh;
  z-index: 2;
  font-size: 6vw;
}
#clearDiv { left: 88vw; }
#photoDiv { left: 5vw; }

i {
  padding: 5px;
  border-radius: 15px;
  background: #ccc;
  opacity: 70%;
}


/* photobooth */

#countdownDiv {
  position: fixed;
  left: 45vw;
  top: 45vh;
  z-index: 997;
  opacity: 0;
  background-color: transparent;
  color: #f00;
  font-size: 20vw;
  font-family: sans-serif;
}

#flashDiv {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 998;
  opacity: 0;
  background-color: #fff;
 }

 #qrCodeDiv {
   position: fixed;
   padding: 10px;
   background-color: #bbf;
   z-index: 999;
   display: none;
 }
