body {
  padding: 0;
  margin: 0;
  display: grid;
  justify-content: center;
  align-content: center;
  height: 100vh;
  overflow: hidden;
}
h1 { }
h2 { }
p { }
em { }
strong { }
.headings { }
#section_1 { }
#section_2 { }
.DEFAULT_SPAN { }
:hover { }

/* font-family: Helvetica, sans-serif; */
/* font-size: 3rem; */
/* background-color: #fff (white) / #000 (black) / #f00 (red) / #ff8888 (pink) / #ff00ff (purple) ; */
/* color: #fff (white) / #000 (black) / #f00 (red) / #ff8888 (pink) / #ff00ff (purple) ; */
/* text-decoration: overline / line-through / underline ; */
