@font-face {
    font-family: Tanach;
    src: url("../assets/data/tanach.regular.ttf") format("truetype");
}

body {
  background-color: #000;
  background-image: url('../assets/images/Rembrandt_tablets.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #D93;
  text-align: center;
}

#commandments {
  font-family: Tanach, cursive;
  font-size: 2em;
  margin: 50px 100px;
}
.apocrypha { opacity: 0; }
.esoteric { user-select: none; }
.revealed { user-select: text; }

/* image dims: 1792*1008 */
