@font-face {
    font-family: Tanach;
    src: url("../assets/data/tanach.regular.ttf") format("truetype");
}

body {
  background-color: #000;
  background-image: url('../assets/images/Rembrandt_tablets.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

#commandments {
  font-family: Tanach, cursive;
  font-size: 1.5rem;
  margin: 50px 100px;
}

h2 {
  text-align: center;
  color: #fff;
}

.esoteric {
  background-color: #000;
  user-select: none;
}

.revealed {
  background-color: #fff;
  user-select: text;
}

/* image dims: 1792*1008 */
