/*********************************************

Here is a description of any special CSS used.
By default that's nothing.

**********************************************/

#secret-document {
  font-family: Courier, monospace;
  font-size: 1.2rem;
  margin: 50px 100px;
}

.redacted {
  background-color: #000;
  user-select: none;
}

.revealed {
  color: #f00;
  background-color: #fff;
  user-select: text;
  text-decoration: underline;
}
