@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

body {
  margin: 0;
  background-color: darkred;
}

header { text-align: center; }
h1 { margin: 0; background-color: #000; padding: 10px; font-size: 40px; color: #FFF; }
h2 { margin: 0; background-color: #222; padding: 10px; font-size: 20px; color: #DDD; }
h3 { margin: 0; background-color: #444; padding: 10px; font-size: 17px; color: #BBB; }

h4 {
  border: 5px solid #000000;
  background-color: #b0e0e6;
  color: #000000;
  text-align: center;
}

h5 {
  text-decoration: underline;
  text-align: justify;
  text-indent: 40px;
}

.q {
  text-decoration: underline;
}

p {
  text-indent: 40px;
}

footer {
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100vw;
  text-align: center;
  font-size: 17px;
  background-color: #000;
  color: #FFF;
}
footer i { color: #FFF; }

a.imgPop img { display: none; }
a.imgPop:hover img {
  display: block;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 50%;
  border: 10px solid #ffffff;
  border-radius: 8px;
}

.imgCenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.hidden {
  color: inherit;
}
