@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

body {
  background-color: darkred;
}

h1 {
  border: 5px solid #000000;
  background-color: #b0e0e6;
  color: #000000;
  text-align: center;
}

h3 {
  text-decoration: underline;
  text-align: justify;
  text-indent: 40px;
}

p {
  text-indent: 40px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  text-align: center;
  font-size: 17px;
  background-color: #000;
  color: #FFF;
}
footer i { color: #FFF; }

a.imgPop img { display: none; }
a.imgPop:hover img {
  display: block;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 50%;
  border: 10px solid #ffffff;
  border-radius: 8px;
}

.imgCenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.hidden {
  color: inherit;
}
