body {{
  font-family: cursive;}
}

label {
  display: inline-block;
  width: 5em;
  z-index: 1;
}

#answer {
  height: 40px;
  width: auto;
  background-color: #ccc;
  font-size: 30px;
}

#text {
  margin: 25px;
  text-align: center;
  font-size: 70px;
}

.found { background-color: #f00; }

#hidden{ display: none; }
