
label {
  display: inline-block;
  width: 5em;
}

#answer {
  height: 10vh;
  width: 10vw;
  background-color: #ccc;
}

.found { color: #f00; }

.message {
  color: #f00;
  font-size: 20px;
}

.ui-sortable-helper {
  visibility: hidden;
}
