label {
  display: inline-block;
  width: 5em;
  z-index: 1;
}

#answer {
  height: 40px;
  width: auto;
  background-color: #ccc;
  font-size: 30px;
}

#poem {
  text-align: center;
  font-size: 20px;
}

.found { color: #f00; }

/* .ui-sortable-helper {
  visibility: hidden;
} */

#hidden{ display: none; }
